.forgot-page-wrapper{
    .forgot-form-wrapper{
        width: 50%;        
        margin: auto;
        display:flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
}