.login-page-wrapper {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .leftside {
    padding: 0;
  }
  .rightside {
    padding: 0;
  }
  .login-form-wrapper {
    max-width: 360px;
    flex: 0 0 360px;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
    .logo-image {
      height: 125px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      overflow: hidden;
      width: 100%;
      text-align: center;
    }
    .info-title {
      font-size: 14px;
      line-height: 16px;
      color: #989898;
      padding: 40px 0;
      text-align: center;
    }
    .login-form {
      width: 100%;
      max-width: 300px;
      form {
        .form-group {
          margin: 0;
          padding-bottom: 20px;
        }
        .rem-forgt-linksblock {
          display: flex;
          justify-content: space-between;
          padding: 15px 0 55px;
          align-items: center;
          .forgot-pagelink {
            font-size: 14px;
            line-height: 16px;
            color: #222;
            text-decoration: none;
            &:hover {
              text-decoration: none;
              color: #86b070;
            }
          }
        }

        .action-btns-row {
          display: flex;
          justify-content: space-between;
          .btn {
            margin: 0 20px 0 0;
            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }

    .terms-privacy-text {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 20px 0;
      a {
        font-size: 12px;
        line-height: 14px;
        color: #989898;
        padding: 20px 0;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}

//child component #image-compoenent//
:host ::ng-deep.leftside .image-previewer {
  height: 100vh;
}

:host ::ng-deep.logo-image .image-previewer img {
  width: 80% !important;
}

@media (max-width: 960px) {
  .login-page-wrapper {
    .rightside {
      .login-form-wrapper {
        .login-form {
          .action-btns-row {
            flex-direction: column;
            .btn {
              margin: 0 0 15px;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .login-page-wrapper {
    .login-form-wrapper {
      padding: 40px 25px;
      .terms-privacy-text {
        a {
          padding: 0 0 10px;
        }
      }
    }
    .info-title {
      padding: 20px 0;
    }
  }
}

@media (max-width: 578px) {
  .login-page-wrapper {
    .login-form-wrapper {
      max-width: 100%;
      flex: 0 0 100%;
      height: auto;
      .logo-image {
        max-width: 300px;
        margin: 0 auto;
      }
    }
  }

  :host ::ng-deep.leftside .image-previewer {
    height: 270px;
  }
}
