<app-modal [modalTitle]="title">
  <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <!-- start general information -->
      <div>
          <!-- <ng-container> -->
          <div class="form-group">
              <div class="full-name">
                  <div class="nameblock ">
                      <div class="col-md-12">
                          <label class="col-md-6">Old Password</label>
                          <input type="password" class="col-md-6" id="oldpassword" placeholder="Old Password"
                              formControlName="oldpassword" name="oldpassword" />
                              <span class="form-field-error"  *ngIf="
                              (changePasswordForm.get('oldpassword').dirty ||
                              changePasswordForm.get('oldpassword').touched) &&
                              !changePasswordForm.get('oldpassword').valid">
                                     Old Password is required.
                                    </span>
                      </div>
                    
                  </div>
              </div>
          </div>
          <div class="form-group">
              <div class="full-name">
                  <div class="nameblock ">
                      <div class="col-md-12">
                          <label class="col-md-6">New Password</label>
                          <input type="password" class="col-md-6" id="newpassword" placeholder="New Password"
                              formControlName="newpassword" name="newpassword" />
                              <span class="form-field-error"  *ngIf="
                              (changePasswordForm.get('newpassword').dirty ||
                              changePasswordForm.get('newpassword').touched) &&
                              !changePasswordForm.get('newpassword').valid">
                              New Password is required.
                                    </span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="form-group">
              <div class="full-name">
                  <div class="nameblock ">
                      <div class="col-md-12">
                          <label class="col-md-6">Confirm New Password</label>
                          <input type="password" class="col-md-6" id="confirmpassword" placeholder="Confirm New Password"
                              formControlName="confirmpassword" name="confirmpassword" />
                      </div>
                      <span class="form-field-error" *ngIf="
                      (changePasswordForm.get('confirmpassword').dirty ||
                      changePasswordForm.get('confirmpassword').touched) &&
                      !changePasswordForm.get('confirmpassword').valid">
                      Confirm Password is required.
                        </span>
                  </div>
              </div>
          </div>
      </div>
      <!-- end general information -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary profilecancel" (click)="activeModal.close('Close click')">Cancel</button>
        <button type="submit" class="btn btn-primary saveprofile" [disabled]="!changePasswordForm.valid">Change Password</button>
    </div>
  </form>
</app-modal>