.timesheet-header{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        margin: 0;
    }
    a{
        width: 200px;
        // float: right;
        margin: 0 20px 0 0;
    }
}