<!-- <button (click)="openModal()">click</button> -->
<app-timesheet-header></app-timesheet-header>
<!-- <app-scheduler
    #scheduler
    [rowHeight]="rowHeight"
    [minHeight]="150"
    [barMargin]="barMargin"
    [events]="events"
    [resources]="resources"
    [timeRanges]="timeRanges"
    [startDate]="startDate"
    [endDate]="endDate"
    [columns]="columns"
    eventColor="green"
    eventStyle="border"
    [eventRenderer]="eventRenderer"
    [eventEdit]="eventEdit"
    (onSchedulerEvents)="onSchedulerEvents($event)"
    schedulerID="firstscheduler"
  ></app-scheduler> -->

<app-timesheet-placement-request></app-timesheet-placement-request>