<div class="timesheet-header">
  <div class="main-head">
    <h1>Timesheet</h1>
  </div>
  <div class="side-head">
    <input type='text' placeholder='Search...' id='search-text-input' />
    <div id='button-holder'>
      <img src='../../../../../assets/images/ico_search.svg' />
    </div>
      <select class="placement-select">
        <option>abc</option>
      </select>
    <a href="javascript:;" (click)="openModal()" class="btn btn-primary">CREATE TIMESHEET</a>
  </div>
</div>

<div class="dashboard-quickdetail-box">
  <div class="header-wrapper">
    <div>
      <h3 class="heading">Placement Requests</h3>
    </div>
    <div class="nav-links">
      <!-- <div class="searcharea">
            <label for="search" class="searchicon"></label>
            <input
              type="search"
              placeholder="Search transactions, invoices or help"
              id="search"
            />
          </div> -->
      <div class="searcharea">
        <input type="text">
        <label for="search" class="searchicon"></label>
      </div>
      <a href="javascript:;" (click)="allPlacementRequest()">All</a>
      <a href="javascript:;" (click)="timesheets()">Timesheets</a>
      <a href="javascript:;" (click)="vacancies()">Vacancies</a>
    </div>
  </div>

  <div class="placementbox-Tabs"></div>
  <div class="quickdetail-contant-row">
    <div class="quickdetailtable-box">
      <div class="quickdetailtable-contant">
        <div class="quickdetailtable-row topbar">
          <div class="quickdetailtable-column">
            Client
          </div>
          <div class="quickdetailtable-column">Received</div>
          <div class="quickdetailtable-column">Staff Requests</div>
          <div class="quickdetailtable-column">
            Due
          </div>
          <div class="quickdetailtable-column">
            Action
          </div>
        </div>
        <div class="quickdetailtable-row" *ngFor="let item of requestList | paginate: { itemsPerPage: 10, currentPage: p }">
          <div class="quickdetailtable-column">
            <div class="quickdetailtable-column-bold">{{item.client}}</div>
          </div>
          <div class="quickdetailtable-column">{{item.recieved}}</div>
          <div class="quickdetailtable-column">{{item.staff}}</div>
          <div class="quickdetailtable-column">{{item.due}}</div>
          <div class="quickdetailtable-column">
            <a href="javascript:;" (click)="editRequest()">
              <img class="editimg" src="../../../../../assets/images/edit.png">
            </a>
            <a href="javascript:;" (click)="deleteRequest()">
              <img class="deleteimg" src="../../../../../assets/images/delete.png">
            </a>
          </div>
        </div>
        <div class="quickdetailtable-row button-row">
          <div class="quickdetailtable-column">
            <button class="btn btn-default" type="button" (click)="openModal()">Add new timesheet</button>
          </div>
          <div></div>
        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
