<div class="dashboard-quickdetail-box">
  <div class="header-wrapper">
    <div>
      <h3 class="heading">Placement Requests</h3>
    </div>
    <div class="nav-links">
      <!-- <div class="searcharea">
            <label for="search" class="searchicon"></label>
            <input
              type="search"
              placeholder="Search transactions, invoices or help"
              id="search"
            />
          </div> -->
      <div class="searcharea">
        <input type="text">
        <label for="search" class="searchicon"></label>
      </div>
      <a href="javascript:;"  (click)="allPlacementRequest()">All</a>
      <a href="javascript:;" (click)="timesheets()">Timesheets</a>
      <a href="javascript:;" (click)="vacancies()">Vacancies</a>
    </div>
  </div>

  <div class="placementbox-Tabs"></div>
  <div class="quickdetail-contant-row">
    <div class="quickdetailtable-box">
      <div class="quickdetailtable-contant">
        <div class="quickdetailtable-row topbar">
          <div class="quickdetailtable-column">
            Client
          </div>
          <div class="quickdetailtable-column">Received</div>
          <div class="quickdetailtable-column">Staff Requests</div>
          <div class="quickdetailtable-column">
            Due
          </div>
        </div>
        <div class="quickdetailtable-row">
          <div class="quickdetailtable-column">
            <div class="quickdetailtable-column-bold">Second Cup Cafe</div>
          </div>
          <div class="quickdetailtable-column">3/1/2019</div>
          <div class="quickdetailtable-column">15 Staff</div>
          <div className="quickdetailtable-column">14 Sep 2018</div>
        </div>
        <div class="quickdetailtable-row">
          <div class="quickdetailtable-column">
            <div class="quickdetailtable-column-bold">The Big Day</div>
          </div>
          <div class="quickdetailtable-column">3/1/2019</div>
          <div class="quickdetailtable-column">15 Staff</div>
          <div className="quickdetailtable-column">14 Sep 2018</div>
        </div>
        <div class="quickdetailtable-row">
          <div class="quickdetailtable-column">
            <div class="quickdetailtable-column-bold">The Lounge</div>
          </div>
          <div class="quickdetailtable-column">3/1/2019</div>
          <div class="quickdetailtable-column">15 Staff</div>
          <div className="quickdetailtable-column">29 Sep 2018</div>
        </div>
        <div class="quickdetailtable-row">
          <div class="quickdetailtable-column">
            <div class="quickdetailtable-column-bold">Event ori</div>
          </div>
          <div class="quickdetailtable-column">3/1/2019</div>
          <div class="quickdetailtable-column">15 Staff</div>
          <div className="quickdetailtable-column">29 Sep 2018</div>
        </div>
        <div class="quickdetailtable-row button-row">
          <div class="quickdetailtable-column">
            <button class="btn btn-default">Add new timesheet</button>
          </div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>