<div class="dashboard-quickdetail-box">
  <div class="quickdetail-box-header">
    <h3 class="heading">Placement Requests</h3>
    <div class="box-header-rightside">
      <div class="searchbar">
        <label class="searchicon"></label>
      </div>
      <div class="placementbox-Tabs">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#all">All</a></li>
          <li><a data-toggle="tab" href="#timesheets">Timesheets</a></li>
          <li><a data-toggle="tab" href="#vacancies">Vacancies</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="quickdetail-contant-row">
    <div class="tab-content">
      <div id="all" class="tab-pane fade in active">
        <div class="quickdetailtable-box">
          <div class="quickdetailtable-contant">
            <div class="quickdetailtable-row topbar">
              <div class="quickdetailtable-column">
                Client
              </div>
              <div class="quickdetailtable-column">Received</div>
              <div class="quickdetailtable-column">Staff Requests</div>
              <div class="quickdetailtable-column">
                Due
              </div>
            </div>
            <div class="quickdetailtable-row">
              <div class="quickdetailtable-column">
                <a class="boxview"
                  ><img
                    alt="logo"
                    src="../../../../../assets/images/user-avatar-2.png"
                /></a>
                <div class="quickdetailtable-column-bold">Second Cup Cafe</div>
              </div>
              <div class="quickdetailtable-column">3/1/2019</div>
              <div class="quickdetailtable-column">
                <span class="staff-count">15 Staff</span>
              </div>
              <div className="quickdetailtable-column">14 Sep 2018</div>
            </div>
            <div class="quickdetailtable-row">
              <div class="quickdetailtable-column">
                <a class="boxview"
                  ><img
                    alt="logo"
                    src="../../../../../assets/images/user-avatar-2.png"
                /></a>
                <div class="quickdetailtable-column-bold">The Big Day</div>
              </div>
              <div class="quickdetailtable-column">3/1/2019</div>
              <div class="quickdetailtable-column">
                <span class="staff-count">15 Staff</span>
              </div>
              <div className="quickdetailtable-column">14 Sep 2018</div>
            </div>
            <div class="quickdetailtable-row">
              <div class="quickdetailtable-column">
                <a class="boxview"
                  ><img
                    alt="logo"
                    src="../../../../../assets/images/user-avatar-2.png"
                /></a>
                <div class="quickdetailtable-column-bold">The Lounge</div>
              </div>
              <div class="quickdetailtable-column">3/1/2019</div>
              <div class="quickdetailtable-column">
                <span class="staff-count">15 Staff</span>
              </div>
              <div className="quickdetailtable-column">29 Sep 2018</div>
            </div>
            <div class="quickdetailtable-row">
              <div class="quickdetailtable-column">
                <a class="boxview"
                  ><img
                    alt="logo"
                    src="../../../../../assets/images/user-avatar-2.png"
                /></a>
                <div class="quickdetailtable-column-bold">Event ori</div>
              </div>
              <div class="quickdetailtable-column">3/1/2019</div>
              <div class="quickdetailtable-column">
                <span class="staff-count">15 Staff</span>
              </div>
              <div className="quickdetailtable-column">29 Sep 2018</div>
            </div>
          </div>
        </div>
      </div>
      <div id="timesheets" class="tab-pane fade">
        <div class="quickdetailtable-box">
          <div class="quickdetailtable-contant">
            <div class="quickdetailtable-row topbar">
              <div class="quickdetailtable-column">
                Client
              </div>
              <div class="quickdetailtable-column">Received</div>
              <div class="quickdetailtable-column">Staff Requests</div>
              <div class="quickdetailtable-column">
                Due
              </div>
            </div>
            <div class="quickdetailtable-row">
              <div class="quickdetailtable-column">
                <div class="quickdetailtable-column-bold">Second Cup Cafe</div>
              </div>
              <div class="quickdetailtable-column">3/1/2019</div>
              <div class="quickdetailtable-column">15 Staff</div>
              <div className="quickdetailtable-column">14 Sep 2018</div>
            </div>
            <div class="quickdetailtable-row">
              <div class="quickdetailtable-column">
                <div class="quickdetailtable-column-bold">The Big Day</div>
              </div>
              <div class="quickdetailtable-column">3/1/2019</div>
              <div class="quickdetailtable-column">15 Staff</div>
              <div className="quickdetailtable-column">14 Sep 2018</div>
            </div>
            <div class="quickdetailtable-row">
              <div class="quickdetailtable-column">
                <div class="quickdetailtable-column-bold">The Lounge</div>
              </div>
              <div class="quickdetailtable-column">3/1/2019</div>
              <div class="quickdetailtable-column">15 Staff</div>
              <div className="quickdetailtable-column">29 Sep 2018</div>
            </div>
            <div class="quickdetailtable-row">
              <div class="quickdetailtable-column">
                <div class="quickdetailtable-column-bold">Event ori</div>
              </div>
              <div class="quickdetailtable-column">3/1/2019</div>
              <div class="quickdetailtable-column">15 Staff</div>
              <div className="quickdetailtable-column">29 Sep 2018</div>
            </div>
          </div>
        </div>
      </div>
      <div id="vacancies" class="tab-pane fade">
        <div class="quickdetailtable-box">
          <div class="quickdetailtable-contant">
            <div class="quickdetailtable-row topbar">
              <div class="quickdetailtable-column">
                Client
              </div>
              <div class="quickdetailtable-column">Received</div>
              <div class="quickdetailtable-column">Staff Requests</div>
              <div class="quickdetailtable-column">
                Due
              </div>
            </div>
            <div class="quickdetailtable-row">
              <div class="quickdetailtable-column">
                <div class="quickdetailtable-column-bold">Second Cup Cafe</div>
              </div>
              <div class="quickdetailtable-column">3/1/2019</div>
              <div class="quickdetailtable-column">15 Staff</div>
              <div className="quickdetailtable-column">14 Sep 2018</div>
            </div>
            <div class="quickdetailtable-row">
              <div class="quickdetailtable-column">
                <div class="quickdetailtable-column-bold">The Big Day</div>
              </div>
              <div class="quickdetailtable-column">3/1/2019</div>
              <div class="quickdetailtable-column">15 Staff</div>
              <div className="quickdetailtable-column">14 Sep 2018</div>
            </div>
            <div class="quickdetailtable-row">
              <div class="quickdetailtable-column">
                <div class="quickdetailtable-column-bold">The Lounge</div>
              </div>
              <div class="quickdetailtable-column">3/1/2019</div>
              <div class="quickdetailtable-column">15 Staff</div>
              <div className="quickdetailtable-column">29 Sep 2018</div>
            </div>
            <div class="quickdetailtable-row">
              <div class="quickdetailtable-column">
                <div class="quickdetailtable-column-bold">Event ori</div>
              </div>
              <div class="quickdetailtable-column">3/1/2019</div>
              <div class="quickdetailtable-column">15 Staff</div>
              <div className="quickdetailtable-column">29 Sep 2018</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="action-btns-row">
      <button type="button" class="btn btn-primary">
        View more
      </button>
      <button type="button" class="btn btn-default">
        Add new
      </button>
    </div>
  </div>
</div>
