<div class="register-page-wrapper">
  <div class="row">
    <div class="col-5">
      <div class="container">
        <app-image-viewer imageURL="assets/image1.png" alternateText="Cambray Catering Recruitment wall image">
        </app-image-viewer>
      </div>
    </div>
    <div class="col-7">
      <div class="container">
        <div class="register-type">
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{active :registerType =='candidate'}"
                (click)="showRegisterForm('candidate')">I AM A CANDIDDATE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{active :registerType =='client'}" (click)="showRegisterForm('client')">I
                AM A CLIENT</a>
            </li>
          </ul>
        </div>

        <div class="register-form-wrapper">
          <div class="logo-image card-img-top">
            <app-image-viewer imageURL="assets/image1.png" alternateText="Cambray Catering Recruitment wall image">
            </app-image-viewer>
          </div>
          <div class="register-form">
            <form [formGroup]="registerForm">
              <ng-template [ngIf]="registerType == 'candidate'" [ngIfElse]="clientRegister">
                <span class="info-title">Register a Candidate Account.Please fill in the details below.</span>
                <div class="form-group">
                  <div class="full-name">
                    <div>
                      <label for="first_name">First Name</label>
                      <input type="text" class="form-control" id="first_name" placeholder="First Name" name="first_name"
                        formControlName="first_name">
                    </div>
                    <div>
                      <label for="last_name">Last Name</label>
                      <input type="text" class="form-control" id="last_name" placeholder="Last Name" name="last_name"
                        formControlName="last_name">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="occupation">Occupation</label>
                  <select id="occupation" class="form-control" placeholder="Ocuupation">
                    <option *ngFor="let occuoation of occupationList" [value]="occuoation.id">
                      {{occuoation.name}}
                    </option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="text" class="form-control" id="email" placeholder="Email">
                  <label for="password">Re-typ Password</label>
                  <input type="text" class="form-control" id="email" placeholder="Email">
                </div>

                <div class="form-group">
                  <input type="checkbox" id="termscondition" class="form-check-input">
                  <label class="form-check-label" for="termscondition">I agree with terms and conditions</label>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-primary" (click)="alreadyHaveAccount()">I ALREADY HAVE AN
                    ACCOUNT</button>
                  <button type="button" class="btn btn-secondary">SIGNUP NOW </button>
                </div>
              </ng-template>


              <ng-template #clientRegister>
                <span class="info-title">Register a Client Account.Please fill in the details below in 3
                  easysteps.</span>
                <div class="step-wizard">
                  <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link" [ngClass]="{active:currentStep=='persion-info'}"
                        (click)="goToNextStep('persion-info')">Personal Info</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [ngClass]="{active:currentStep=='business-info'}"
                        (click)="goToNextStep('business-info')">Business Info</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [ngClass]="{active:currentStep=='account-info'}"
                        (click)="goToNextStep('account-info')">Account Info</a>
                    </li>
                  </ul>
                </div>

                <ng-container [ngSwitch]="currentStep">
                  <div class="persion-info" *ngSwitchCase="'persion-info'">
                    <div>
                      <div class="form-group">
                        <div class="full-name">
                          <div>
                            <label for="first_name">First Name</label>
                            <input type="text" class="form-control" id="first_name" placeholder="First Name">
                          </div>
                          <div>
                            <label for="last_name">Last Name</label>
                            <input type="text" class="form-control" id="last_name" placeholder="Last Name">
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="job_title">Job Title</label>
                        <input type="text" class="form-control" id="job_title" placeholder="Job Title">
                      </div>
                      <div class="form-group">
                        <label for="occupation">Bussiness Type</label>
                        <select id="occupation" class="form-control" placeholder="Ocuupation">
                          <option *ngFor="let occuoation of occupationList" [value]="occuoation.id">
                            {{occuoation.name}}
                          </option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="business_type">Business Name</label>
                        <input type="text" class="form-control" id="business_type" placeholder="Business Name">
                      </div>

                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                      </div>

                      <div class="form-group">
                        <button type="button" class="btn btn-primary" (click)="alreadyHaveAccount()">I ALREADY HAVE AN
                          ACCOUNT</button>
                        <button type="button" class="btn btn-secondary"
                          (click)="goToNextStep('business-info')">NEXT</button>
                      </div>
                    </div>

                  </div>

                  <div class="business-info" *ngSwitchCase="'business-info'">
                    <div>
                      <div class="form-group">
                        <div class="phone-info">
                          <div>
                            <label for="phone_no">Phone Nr</label>
                            <input type="tel" class="form-control" id="phone_no" placeholder="Phone Nr">
                          </div>
                          <div>
                            <label for="mobile_no">Mobile Nr</label>
                            <input type="tel" class="form-control" id="mobile_no" placeholder="Mobile Nr">
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="addressline1">Addressline1</label>
                        <input type="text" id="addressline1" class="form-control" placeholder="Addressline1">
                        <label for="addressline2">Addressline2</label>
                        <input type="text" id="addressline2" class="form-control" placeholder="Addressline2">
                        <label for="addressline3">Addressline3</label>
                        <input type="text" id="addressline3" class="form-control" placeholder="Addressline3">
                      </div>

                      <div class="form-group">
                        <div class="zip-info">
                          <div>
                            <label for="town">Town</label>
                            <input type="text" id="town" placeholder="Town" class="form-control">
                          </div>
                          <div>
                            <label for="zip_code">Zip Code</label>
                            <input type="text" id="zip_code" placeholder="Town" class="form-control">
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <button type="button" class="btn btn-primary"
                          (click)="goToNextStep('persion-info')">CANCEL</button>
                        <button type="button" class="btn btn-secondary"
                          (click)="goToNextStep('account-info')">NEXT</button>
                      </div>
                    </div>
                  </div>

                  <div class="account-info" *ngSwitchCase="'account-info'">
                    <div>
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input type="text" class="form-control" id="email" placeholder="Email">
                        <label for="password">Confirm Password</label>
                        <input type="text" class="form-control" id="email" placeholder="Confirm Password">
                      </div>
                      <div class="form-group">
                        <input type="checkbox" id="termscondition" class="form-check-input">
                        <label class="form-check-label" for="termscondition">I agree with terms and conditions</label>
                      </div>
                      <div class="form-group">
                        <button type="button" class="btn btn-primary"
                          (click)="goToNextStep('business-info')">CANCEL</button>
                        <button type="button" class="btn btn-secondary">CREATE ACCOUNT</button>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-template>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>