<div class="dashboard-quickdetail-box">
  <h3 class="heading">Quick Details</h3>
  <div class="quickdetail-contant-row">
    <div class="quickbox-leftside">
      <a class="boxview"><span class="iconview new-candi"></span></a>
      <h4>3 New Candidates</h4>
    </div>
    <div class="textrightside">
      <span>Awaiting Process</span>
    </div>
  </div>
  <div class="quickdetail-contant-row">
    <div class="quickbox-leftside">
      <a class="boxview"><span class="iconview new-candi"></span></a>
      <h4>15 job Requests</h4>
    </div>
    <div class="textrightside">
      <span>Awaiting Process</span>
    </div>
  </div>
  <div class="quickdetail-contant-row">
    <div class="quickbox-leftside">
      <a class="boxview box-themebg"
        ><span class="iconview new-candi"></span
      ></a>
      <h4>2 Client Requests</h4>
    </div>
    <div class="textrightside">
      <span>On Hold</span>
    </div>
  </div>
  <div class="quickdetail-contant-row">
    <div class="quickbox-leftside">
      <a class="boxview box-red"><span class="iconview new-candi"></span></a>
      <h4>4 Shift Request Candidates</h4>
    </div>
    <div class="textrightside">
      <span>Awaiting Process</span>
    </div>
  </div>
  <div class="quickdetail-contant-row">
    <div class="quickbox-leftside">
      <a class="boxview"><span class="iconview new-candi"></span></a>
      <h4>42 Shift Request Accepted</h4>
    </div>
    <div class="textrightside">
      <span>view all</span>
    </div>
  </div>
</div>
