<div class="dashboard-newcandidates-box">
  <h3 class="heading">New Candidates</h3>
  <div class="new-candidates-list-block">
    <div class="new-candidates-list-row">
      <div class="timedate">Today,15 mins ago</div>
      <div class="list-contant-row">
        <div class="candidate-info-leftside">
          <a class="candidate-pic"
            ><img
              src="../../../../../assets/images/user-avatar-2.png"
              alt="userpic"
          /></a>
          <div class="candidate-details">
            <div class="username">Ola Henry</div>
            <div class="user-position">Waiting/Bar</div>
            <div class="user-jobtime">Temporary</div>
            <div class="user-exp">Experience 3 years</div>
          </div>
        </div>
        <div class="dropdown more-dropdown-right">
          <!-- <a class="ico-more active"></a> -->
          <a
            href="javascript:void(0)"
            class="dropdown-toggle ico-more active"
            data-toggle="dropdown"
            role="button"
          >
          </a>
          <ul class="dropdown-menu dropdown-more">
            <li><a href="#" title="Review">Review</a></li>
            <li><a href="#" title="Add to Database">Add to Database</a></li>
            <li><a href="#" title="Decline">Decline</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="new-candidates-list-row">
      <div class="timedate">12 Nov 2018, 20:59</div>
      <div class="list-contant-row">
        <div class="candidate-info-leftside">
          <a class="candidate-pic"
            ><img
              src="../../../../../assets/images/user-avatar-3.png"
              alt="userpic"
          /></a>
          <div class="candidate-details">
            <div class="username">Troy Wells</div>
            <div class="user-position">Sous Chef</div>
            <div class="user-jobtime">Permanent/Temporary</div>
            <div class="user-exp">Experience 2.5 years</div>
          </div>
        </div>
        <div class="more-dropdown-right">
          <a class="ico-more"></a>
        </div>
      </div>
    </div>
    <div class="new-candidates-list-row">
      <div class="timedate">03 Apr 2019, 12:02</div>
      <div class="list-contant-row">
        <div class="candidate-info-leftside">
          <a class="candidate-pic"
            ><img
              src="../../../../../assets/images/user-avatar-4.png"
              alt="userpic"
          /></a>
          <div class="candidate-details">
            <div class="username">Francis Cortez</div>
            <div class="user-position">Cafe Manager</div>
            <div class="user-jobtime">Temporary</div>
            <div class="user-exp">Experience 1 years</div>
          </div>
        </div>
        <div class="more-dropdown-right">
          <a class="ico-more"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="action-btns-row">
    <button type="button" class="btn btn-primary">
      View more
    </button>
    <button type="button" class="btn btn-default">
      Add new
    </button>
  </div>
</div>
