<div class="Dashboard-main-contant-row">
  <div class="main-contant-leftside">
    <div class="dashboard-count-summary-row">
      <div class="dashboard-count-summary-column">
        <app-dashboard-count-summary></app-dashboard-count-summary>
      </div>
      <div class="dashboard-count-summary-column">
        <app-dashboard-count-summary></app-dashboard-count-summary>
      </div>
      <div class="dashboard-count-summary-column">
        <app-dashboard-count-summary></app-dashboard-count-summary>
      </div>
    </div>
    <div class="dashboard-placement-request-new-candi-row">
      <div class="dashboard-placement-request-column">
        <app-placement-request></app-placement-request>
      </div>
      <div class="dashboard-new-candidate-list-column">
        <app-new-candidate-list></app-new-candidate-list>
      </div>
    </div>
    <div class="dashboard-scheduler-calendar-row">
      <div class="dashboard-scheduler-calendar-column">
        <app-scheduler-calendar></app-scheduler-calendar>
      </div>
    </div>
  </div>
  <div class="main-contant-rightside">
    <div class="dashboard-quick-details-row">
      <div class="dashboard-quick-details-column">
        <app-quick-details></app-quick-details>
      </div>
    </div>
  </div>
</div>
